

.parameters_fields{
    display: flex;
    padding: 2px;
    z-index: -99;
}
span{
    margin: 5px;
    align-self: center;
}

.checkboxes{
    margin: 5px;
}

.search_button{
    margin-left: auto;
}

.sort_title{
    margin-left: 20px;
}

